<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>db1</servlet-name>
        <servlet-class>db1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdfy1</servlet-name>
        <servlet-class>mdfy1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdfy2</servlet-name>
        <servlet-class>mdfy2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db2</servlet-name>
        <servlet-class>db2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdfy3</servlet-name>
        <servlet-class>mdfy3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdfy4</servlet-name>
        <servlet-class>mdfy4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearNULL1a</servlet-name>
        <servlet-class>clearNULL1a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus1</servlet-name>
        <servlet-class>changeStatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transfer</servlet-name>
        <servlet-class>transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginA</servlet-name>
        <servlet-class>loginA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forDrv</servlet-name>
        <servlet-class>forDrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify</servlet-name>
        <servlet-class>modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forUser</servlet-name>
        <servlet-class>forUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addloc</servlet-name>
        <servlet-class>addloc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify2</servlet-name>
        <servlet-class>modify2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>db1</servlet-name>
        <url-pattern>/db1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdfy1</servlet-name>
        <url-pattern>/mdfy1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdfy2</servlet-name>
        <url-pattern>/mdfy2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>db2</servlet-name>
        <url-pattern>/db2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdfy3</servlet-name>
        <url-pattern>/mdfy3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdfy4</servlet-name>
        <url-pattern>/mdfy4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearNULL1a</servlet-name>
        <url-pattern>/clearNULL1a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus1</servlet-name>
        <url-pattern>/changeStatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transfer</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginA</servlet-name>
        <url-pattern>/loginA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forDrv</servlet-name>
        <url-pattern>/forDrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forUser</servlet-name>
        <url-pattern>/forUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addloc</servlet-name>
        <url-pattern>/addloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify2</servlet-name>
        <url-pattern>/modify2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
